#earth1 {
    background: url(../images/earthmap.jpg);
    background-size: cover;
    border: 2px solid #000;
    border-radius: 50%;
    width: 300px;
    /* Taille réduite pour écrans étroits */
    height: 300px;
    /* Taille réduite pour écrans étroits */
    animation: movimiento 5s linear 0s infinite;
    box-shadow:
        0 0 15px RGBA(255, 255, 255, 0.1),
        -5px -5px 10px #000 inset,
        2px 2px 15px #000 inset,
        -25px -25px 15px RGBA(0, 0, 0, 0.5) inset,
        15px 15px 25px RGBA(0, 0, 0, 0.45) inset;
    margin: 4em auto;
    transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 900px 0;
    }
}

@media (min-width: 768px) {
    #earth1 {
        width: 400px;
        /* Taille plus grande pour écrans moyens */
        height: 400px;
        margin: 5em auto;
    }
}

@media (min-width: 1024px) {
    #earth1 {
        width: 500px;
        /* Taille originale pour grands écrans */
        height: 500px;
        margin: 6em auto;
    }
}